@model IEnumerable<Uum.Web.Models.ReportCardModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AverageGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fouls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AverageGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fouls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
